<!DOCTYPE html>
<html>

<!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<link rel="stylesheet" href="style.css">

<head>

  <title> Error! </title>

</head>


<body>

  <h1> We can't find the artist you're looking for! </h1>

  <input type="submit" class="btn btn-info" onclick="window.location='.'" value="Take me back!"> 


</body>



</html>