<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<head>
<title>Music!</title>
</head>
<body>
<h1> Music </h1>

<form action="/results" method="post">
 
  
    <input type="text" name="artist">

</select>
  </select>

  <input type="submit" class="btn btn-info" value="Show me some music!">

</div>
</form>
</body>
</html>